\documentclass[10pt,twocolumn,letterpaper]{article}

\usepackage[review]{cvpr}      % To produce the REVIEW version
%\usepackage{cvpr}              % To produce the CAMERA-READY version
%\usepackage[pagenumbers]{cvpr} % To produce the FINAL version

\usepackage{graphicx}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{booktabs}

\title{{{TITLE}}}

\author{{{AUTHOR}}}\\
Institution1\\
Institution1 address\\
{\tt\small firstauthor@i1.org}
}

\begin{document}
\maketitle

\begin{abstract}
   The ABSTRACT is to be in fully-justified italicized text, at the top of the left-hand column, below the author and affiliation information.
\end{abstract}

\section{Introduction}
CVPR/arXiv template.

{\small\bibliographystyle{ieee_fullname}
\bibliography{refs}
}

\end{document}
