# LaTeX auxiliary files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ind
*.ilg
*.vrb
*.xdv
*.bcf
*.run.xml
*.dvi
*.ps

# Editor swap files
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
