\documentclass{nature}

\bibliographystyle{naturemag}

\title{{{TITLE}}}

\author{{{AUTHOR}}}

\begin{document}

\maketitle

\begin{abstract}
Nature template abstract.
\end{abstract}

\section{Introduction}
Nature template introduction.

\bibliography{refs}

\end{document}
