\documentclass[runningheads]{llncs}

\usepackage{graphicx}

\begin{document}

\title{{{TITLE}}}

\author{{{AUTHOR}}}

\authorrunning{F. Author et al.}
\institute{Princeton University, Princeton NJ 08544, USA \and
Springer Heidelberg, Tiergartenstr. 17, 69121 Heidelberg, Germany
\email{lncs@springer.com}}

\maketitle

\begin{abstract}
The abstract should briefly summarize the contents of the paper in
150--250 words.

\keywords{First keyword  \and Second keyword \and Another keyword.}
\end{abstract}

\section{Introduction}
Springer LNCS template.

\bibliographystyle{splncs04}
\bibliography{refs}

\end{document}
