\documentclass[sigconf]{acmart}

\AtBeginDocument{%
  \providecommand\BibTeX{{%
    \normalfont B\kern-0.5em{\sc i\kern-0.25em b}\kern-0.8em\TeX}}}

\setcopyright{acmcopyright}
\copyrightyear{2024}
\acmYear{2024}
\acmDOI{XXXXXXX.XXXXXXX}

\begin{document}

\title{{{TITLE}}}

\author{{{AUTHOR}}}
\email{author@example.com}
\affiliation{%
  \institution{Institution}
  \city{City}
  \country{Country}
}

\begin{abstract}
  A clear and concise abstract of the paper.
\end{abstract}

\keywords{datasets, neural networks, gaze detection, text tagging}

\maketitle

\section{Introduction}
ACM template for conference papers.

\bibliographystyle{ACM-Reference-Format}
\bibliography{refs}

\end{document}
